<!doctype html>
<html lang="en-us">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>
      {% block title %}{{ site_name | default("weblorg website") }}{% endblock %}
      {% block subtitle %}{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site_owner is defined %}<meta name="author" content="{{ site_owner }}" />{% endif %}
    {% if site_description is defined %}<meta name="description" content="{{ site_description }}" />{% endif %}
    {% if site_keywords is defined %}<meta name="keywords" content="{{ site_keywords }}" />{% endif %}
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for("static", file="style.css") }}" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora&family=Space+Mono&display=swap" />
    {% endblock %}
  </head>
  <body class="font-serif bg-cl-background text-cl-foreground m-0 p-0 min-h-screen flex flex-col">
    {# Top navigation bar #}
    {% block nav %}
      <header class="flex justify-between items-center py-[10px] px-[30px] mb-[40px] border-b border-solid border-b-cl-border">
        <h1 class="text-2xl">
          <a href="{{ url_for("index") }}">
            {% block title %}{{ site_name | default("weblorg website") }}{% endblock %}
          </a>
        </h1>
        <a href="#main" class="hidden">jump to main content</a>
        <nav class="flex items-center">
          <ul class="m-0 p-0">
            <li class="inline pl-[50px] cursor-pointer">
              <a class="text-cl-foreground text-base font-bold" href="{{ url_for("pages", slug="about") }}">about</a>
            </li>
            <li class="inline pl-[50px] cursor-pointer">
              <a class="text-cl-foreground text-base font-bold" href="{{ url_for("index") }}">blog</a>
            </li>
          </ul=>
        </nav>
      </header>
    {% endblock %}

    {# Probably where most of the action will happen #}
    <main id="main" class="p-[10px] w-[calc(100%-20px)] sm:p-0 sm:w-[600px] my-0 mx-auto flex-grow">
      {% block main %}{% endblock %}
    </main>

    {# Links, copyright notice, etc #}
    {% block footer %}
      <footer class="bg-cl-foreground text-cl-background h-[70px] flex items-center justify-center">
        Made with &#x2665; and&nbsp;
        <a href="https://emacs.love/weblorg" target="_blank">
          weblorg
        </a>
      </footer>
    {% endblock %}

  </body>
</html>
