---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.bb--light-gray {
  border-bottom-color: #eee;
}

.bt--dark-gray {
  border-top-color: #333;
}

.bt1 {
  border-top-width: .25rem;
}
