<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or meta.title }}</title>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="{{ '/assets/style.css' | url }}" type="text/css" />
  </head>

  <body>

    {% include "header.njk" %}

    <main id="main">
      
        {{ content | safe }}

    </main>

    {% include "footer.njk" %}

  </body>
</html>
